<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366745336658-reoji5fuo3uuhterhuud5e6fi858hd0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366745336658-reoji5fuo3uuhterhuud5e6fi858hd0u</string>
	<key>API_KEY</key>
	<string>AIzaSyC1LW59_2JrCAA-4RjFCmPXN8SzKUKxn2s</string>
	<key>GCM_SENDER_ID</key>
	<string>366745336658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ema</string>
	<key>PROJECT_ID</key>
	<string>ema-a551f</string>
	<key>STORAGE_BUCKET</key>
	<string>ema-a551f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366745336658:ios:1e2825390c1881b864988b</string>
</dict>
</plist>